.staticMenuItemStyle {
text-align:center;
display:block;
padding-left:2px;
padding-right:2px;
margin-left:0;
}

.staticMenuItemSelectedStyle {
border:solid 1px #000;
}

.staticHoverStyle {
background-image: url(../Images/login_bg.jpg);
}

.menuItem {
display: block;
}

.dynamicMenuItemStyle {
display:block;
border:solid 1px #000;
background-color:Silver;
color:Red;
z-index:200;
position:relative;
}

.background {
border:solid 1px #000;
background-image: url('../Images/login_bg.jpg');
height: 60px;
}

.NavigationMenu {
font-family:Verdana;
font-size:18pt;
color:#FFF;
font-weight:600;
z-index:101;
background-image: url(../Images/login_bg.jpg);
}

#h {
background:#CCCFFF;
padding:5px 0 6px 10px;
}

#e {
border:solid 1px #919191;
background-image:url(../Images/sub.gif);
padding:0 0 1px;
}

.menuItemMouseOver,.menuItemSelected {
border:solid 1px Navy;
background-image: url(../Images/login_bg.jpg);
}

.NavigationMenu A:link,.NavigationMenu A:visited,.NavigationMenu A:active {
text-decoration:none;
color:#FFF;
display:block;
}

.currentNodeStyle,.nodeStyle,.rootNodeStyle,a.siteMapPath {
text-decoration:none;
font-family:Verdana;
font-size:10pt;
}

#footer {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 30px auto 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 30px;
}


#datePicker {
    display: none;
    position: absolute;
    border: solid 2px #000;
    background-color: white;
}

.red-star {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.label {
    font-size: 14px;
}

.content {
    width: 400px;
    background-color: white;
    margin: auto;
    padding: 10px;
}

html {
    background-color: rgb(221,241,254);
}

* { margin:0 auto; padding:0; border:0;}

.legendStyle {
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

.fieldSetStyle {
    border: 1px solid rgb(70,132,175);
}

.aspBtn {
    border-radius: 5px;
    border: double;
    background: url(../Images/login_bg.jpg);
    height: 30px;
    width: 100px;
}

.aspTextBox {
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    font-size: 15px;
    width: 160px;
    height: 20px;
    padding-top: 3px;
    text-align: center;
    vertical-align: middle;
}

.aspTextBoxShort {
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    height: 20px;
    font-size: 15px;
    padding-top: 3px;
    text-align: center;
    vertical-align: middle;
}

.aspBankrate {
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    height: 20px;
    font-size: 15px;
    padding-top: 3px;
    text-align: center;
    vertical-align: middle;
    width: 80px;
}

.aspBillAccount {
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    width: 200px;
    height: 20px;
    font-size: 15px;
    padding-top: 3px;
    text-align: center;
    vertical-align: middle;
}

.aspDrop {
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    height:25px;
    width: 160px;
    font-size: 15px;
    padding-top: 3px;
    text-align: center;
    vertical-align: middle;
}

.aspMargin {
    border-radius: 5px;
    border: 1px solid #CDCDCD;
    height: 30px;
    width: 90%;
    font-size: 20px;
    padding-top: 3px;
    text-align: center;
    vertical-align: middle;
}

.per-cent {
    height: 30px;
    font-size: 18px;
    vertical-align: middle;
}

.validator {
    font-size: 11px;
    text-align: left;
}

.gridview {
    background: #006699;
    border-width: 1px;
    border-color: #cccccc;
    color: #FFFFFF;
    font: bold 16px arial, verdana;
}


.fixedHeader {
    position: relative;
    top: expression(this.offsetParent.scrollTop);
    background-color: blue;
    height: 25px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 13px;
    background-color: #5D7B9D;
}